# App artifacts
/web/_build
/web/db
/web/deps
/web/*.ez
/firmware/_build
/firmware/db
/firmware/deps
/firmware/*.ez

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
/web/assets/node_modules

# secrets.
/web/config/*.secret.exs
/ESP8266Testdevice/secrets.h