<div class="row marketing">
  <div class="col-lg-12">
    <h4>Smartmeter Information</h4>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">      
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <%= Enum.map(@information, fn info -> %>
      <tr>
        <td><%= info.key %></td>
        <td><%= info.value %></td>
      </tr>
      <% end) %>
    </table>
  </div>
</div>
